<footer class="site-footer h-card">
  <data class="u-url" href="/"></data>

  <div class="wrapper">
    <h2 class="footer-heading">Contact</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li class="p-name">Email</li>
          <li><a class="u-email" href="mailto:CoryWBoris@gmail.com">CoryWBoris@gmail.com</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list horizontal-list">
            <li>
                <a href="https://www.linkedin.com/in/coryboris/">
                    <svg class="svg-icon">
                        <use xlink:href="/assets/minima-social-icons.svg#linkedin"></use>
                    </svg>
                </a>
            </li>
            <li>
              <a href="https://github.com/CoryWBoris">
                <svg class="svg-icon">
                  <use xlink:href="/assets/minima-social-icons.svg#github"></use>
                </svg>
              </a>
            </li>
            <li>
            <a href="https://www.instagram.com/coryboris/">
              <svg class="svg-icon">
                <use xlink:href="/assets/minima-social-icons.svg#instagram"></use>
              </svg>
            </a>
          </li>
          <li>
            <a href="https://www.facebook.com/cory.boris">
              <svg class="svg-icon">
                <use xlink:href="/assets/minima-social-icons.svg#facebook"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
</body>
</html>